:root {
	font-size: 16px;
	font-family: 'Cormorant Garamond', serif;
}
* {
	box-sizing: border-box;
}
html,
body {
	padding: 0;
	margin: 0;
	overflow-y: auto;
}

.col {
	flex-basis: 0;
	padding-left: 20px;
	padding-right: 20px;
	flex-shrink: 0;
}

.col-4 {
	flex-grow: 4;
}

.col-6 {
	flex-grow: 6;
}

.col-8 {
	flex-grow: 8;
}

.col-10 {
	flex-grow: 10;
}

nav {
	position: absolute;
	top: 20px;
	width: 100vw;
	padding: 10px 100px;
	padding-bottom: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav ul {
	list-style: none;
	padding-left: 0px;
	display: flex;
	flex-direction: row;
}

nav ul li {
	margin-right: 15px;
}

nav ul li:last-child {
	margin-right: 0;
}

footer {
	position: fixed;
	bottom: 20px;
	padding: 10px 100px;
	display: flex;
	flex-direction: row;
	width: 100vw;
	justify-content: center;
	text-align: right;
	z-index: 0;
	color: #aaa;
}

footer p {
	margin: 0;
}

.full-height {
	min-height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	padding: 80px;
}
.logo {
	display: block;
	text-indent: -9999px;
	color: #c05844;
	font-size: 1.6rem;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	width: 100px;
	height: 100px;
	background-image: url('../img/logo-small.png');
	background-size: cover;
}

#top {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #666;
}

#top h1 {
	font-size: 3rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	line-height: 3.3rem;
	font-family: 'Cormorant Garamond', sans-serif;
}

#top h1 small {
	font-size: 1.4rem;
	display: block;
	color: #999;
	margin-top: -10px;
}

#top .main-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#top .cover-preview {
}

#top .cover-preview img {
	margin-left: 25px;
}

.top-cta {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: flex-start;
}

.cta-input {
	margin-right: -5px;
	width: 60%;
	border: 3px solid #c05844;
	font-size: 1.2rem;
	font-family: 'Kalam', sans-serif;
	line-height: 44px;
	padding-left: 10px;
	outline: 0;
}

.cta {
	border-radius: 0;
	padding: 8px 18px;
	background-color: #c05844;
	font-weight: bold;
	border: 3px solid #c05844;
	font-size: 1.2rem;
	font-family: 'Kalam', sans-serif;
	color: white;
	margin-bottom: 25px;
	transition: all .1s ease-in;
	cursor: pointer;
	margin-bottom: 0;
}

.cta:hover {
	background: white;
	color: #c05844;
}

.cta.success {
	color: white;
}

p.promo {
	margin: 0;
	margin-top: 10px;
	transition: opacity 0.2s;
}

p.promo.thanks {
	font-weight: bold;
	font-size: 20px;
	padding-top: 22px;
	padding-bottom: 25px;
}

p.promo.invalid {

}

p.promo a {
	color: #c05844;
	font-weight: bold;
	text-decoration: none;
}

@media (max-width: 700px),
@media only screen
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: portrait),
@media only screen
	and (-webkit-min-device-pixel-ratio: 3)
	and (orientation: portrait) {
	nav {
		padding: 10px 30px;
	}
	#top {
		display: block;
		margin-top: 100px;
	}
	.full-height {
		padding: 25px;
	}
	.main-info {
		text-align: center;
		margin-bottom: 50px;
	}
	.top-cta {
		margin: 0 auto;
		width: 75%;
		justify-content: center;
	}
	footer {
		position: static;
	}
}

@media (max-width: 900px) {
	.cta-input {
		font-size: 1rem;
		margin-right: -20px;
		line-height: 39px;
	}
	.cta {
		font-size: 1rem;
		padding: 8px 4px;
	}
}